<div class="card card-container">

    {% if addon.type == 'module' or addon.type == 'extension' %}
        {% if addon.path %}
            {% if addon.installed %}
                <a
                        href="{{ url_route('anomaly.module.addons::addon.uninstall', {'id': addon.id}) }}"
                        data-icon="warning"
                        data-toggle="prompt"
                        class="btn btn-danger"
                        data-match="{{ addon.name }}"
                        data-title="{{ trans('anomaly.module.addons::confirm.uninstall_title') }}"
                        data-message="{{ trans('anomaly.module.addons::confirm.uninstall_message') }}"
                >
                    {{ icon('times-circle') }} {{ trans('anomaly.module.addons::button.uninstall') }}
                </a>

                {% if addon.enabled %}
                    <a
                            href="{{ url_route('anomaly.module.addons::addon.disable', {'id': addon.id}) }}"
                            data-icon="warning"
                            data-toggle="confirm"
                            class="btn btn-warning"
                            data-title="{{ trans('anomaly.module.addons::confirm.disable_title') }}"
                            data-message="{{ trans('anomaly.module.addons::confirm.disable_message') }}"
                    >
                        {{ icon('fa fa-toggle-off') }} {{ trans('anomaly.module.addons::button.disable') }}
                    </a>
                {% else %}
                    <a
                            href="{{ url_route('anomaly.module.addons::addon.enable', {'id': addon.id}) }}"
                            class="btn btn-success"
                    >
                        {{ icon('fa fa-toggle-on') }} {{ trans('anomaly.module.addons::button.enable') }}
                    </a>
                {% endif %}
            {% else %}
                <a
                        href="{{ url_route('anomaly.module.addons::addon.options', {'id': addon.id}) }}"
                        class="btn btn-success"
                        data-toggle="modal"
                        data-target="#modal"
                >
                    {{ icon('fa fa-check-circle') }} {{ trans('anomaly.module.addons::button.install') }}
                </a>
            {% endif %}
        {% endif %}
    {% endif %}

</div>
