<div class="card card-container">

    {% if addon.path or addon.required %}
        {% if addon.path and (addon.type == 'module' or addon.type == 'extension') %}
            {% if addon.installed %}
                {% if user().hasPermission('anomaly.module.addons::' ~ addon.type ~ '.manage') %}
                    <a
                            href="{{ url_route('anomaly.module.addons::addon.uninstall', {'id': addon.id, 'type': addon.type}) }}"
                            data-icon="warning"
                            data-toggle="prompt"
                            class="btn btn-danger"
                            data-match="{{ addon.name }}"
                            data-title="{{ trans('anomaly.module.addons::confirm.uninstall_title') }}"
                            data-message="{{ trans('anomaly.module.addons::confirm.uninstall_message') }}"
                    >
                        {{ icon('times-circle') }} {{ trans('anomaly.module.addons::button.uninstall') }}
                    </a>

                    <a
                            href="{{ url_route('anomaly.module.addons::addon.migrate', {'id': addon.id, 'type': addon.type}) }}"
                            class="btn btn-success"
                    >
                        {{ icon('fa fa-level-up') }} {{ trans('anomaly.module.addons::button.migrate') }}
                    </a>
                {% endif %}

                {% if addon.enabled %}
                    {% if user().hasPermission('anomaly.module.addons::' ~ addon.type ~ '.manage') %}
                        <a
                                href="{{ url_route('anomaly.module.addons::addon.disable', {'id': addon.id, 'type': addon.type}) }}"
                                data-icon="warning"
                                data-toggle="confirm"
                                class="btn btn-warning"
                                data-title="{{ trans('anomaly.module.addons::confirm.disable_title') }}"
                                data-message="{{ trans('anomaly.module.addons::confirm.disable_message') }}"
                        >
                            {{ icon('fa fa-toggle-off') }} {{ trans('anomaly.module.addons::button.disable') }}
                        </a>
                    {% endif %}
                {% else %}
                    {% if user().hasPermission('anomaly.module.addons::' ~ addon.type ~ '.manage') %}
                        <a
                                href="{{ url_route('anomaly.module.addons::addon.enable', {'id': addon.id, 'type': addon.type}) }}"
                                class="btn btn-success"
                        >
                            {{ icon('fa fa-toggle-on') }} {{ trans('anomaly.module.addons::button.enable') }}
                        </a>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if user().hasPermission('anomaly.module.addons::' ~ addon.type ~ '.manage') %}
                    <a
                            href="{{ url_route('anomaly.module.addons::addon.options', {'id': addon.id, 'type': addon.type}) }}"
                            class="btn btn-success"
                            data-toggle="modal"
                            data-target="#modal"
                    >
                        {{ icon('fa fa-check-circle') }} {{ trans('anomaly.module.addons::button.install') }}
                    </a>
                {% endif %}

                {% if composer_can('remove', addon.type) %}
                    <a
                            href="{{ url_route('anomaly.module.addons::composer.remove', {'id': addon.id, 'type': addon.type, 'repository': repository}) }}"
                            data-message="{{ trans('anomaly.module.addons::message.removing', {'addon': addon.name}) }}"
                            data-toggle="composer"
                            class="btn btn-danger {{ addon.dependents ? 'disabled' }}"
                    >
                        {{ icon('times-circle') }} {{ trans('anomaly.module.addons::button.remove') }}
                    </a>
                {% endif %}
            {% endif %}
        {% else %}
            {% if composer_can('remove', addon.type) %}
                <a
                        href="{{ url_route('anomaly.module.addons::composer.remove', {'id': addon.id, 'type': addon.type, 'repository': repository}) }}"
                        data-message="{{ trans('anomaly.module.addons::message.removing', {'addon': addon.name}) }}"
                        data-toggle="composer"
                        class="btn btn-danger {{ addon.dependents ? 'disabled' }}"
                >
                    {{ icon('times-circle') }} {{ trans('anomaly.module.addons::button.remove') }}
                </a>
            {% endif %}
        {% endif %}

        {% if addon.has_updates %}
            {% if composer_can('update', addon.type) %}
                <a
                        href="{{ url_route('anomaly.module.addons::composer.update', {'id': addon.id, 'type': addon.type, 'repository': repository}) }}"
                        data-message="{{ trans('anomaly.module.addons::message.updating', {'addon': addon.name}) }}"
                        data-toggle="composer"
                        class="btn btn-info"
                >
                    {{ icon('refresh') }} {{ trans('anomaly.module.addons::button.update') }}
                </a>
            {% endif %}
        {% endif %}

    {% else %}
        {% if composer_can('download', addon.type) %}
            <a
                    href="{{ url_route('anomaly.module.addons::composer.download', {'id': addon.id, 'type': addon.type, 'repository': repository}) }}"
                    data-message="{{ trans('anomaly.module.addons::message.downloading', {'addon': addon.name}) }}"
                    data-toggle="composer"
                    class="btn btn-primary"
            >
                {{ icon('download') }} {{ trans('anomaly.module.addons::button.download') }}
            </a>
        {% endif %}
    {% endif %}

</div>
