<h3 class="lead">
    {{ trans('anomaly.module.addons::label.information') }}
</h3>

<dl>
    {% if addon.instance.composer_lock.version %}
        <dt>{{ trans('anomaly.module.addons::label.version') }}</dt>
        <dd>
            {{ addon.instance.composer_lock.version }}

            {% if constraint %}
                <span class="text-muted">({{ constraint }})</span>
            {% endif %}
        </dd>
    {% endif %}

    <dt>{{ trans('anomaly.module.addons::label.namespace') }}</dt>
    <dd>
        <pre>{{ addon.namespace }}</pre>
    </dd>

    {% if addon.downloaded %}
        <dt>{{ trans('anomaly.module.addons::label.path') }}</dt>
        <dd>{{ addon.instance.path }}</dd>
    {% endif %}

    {% if addon.installable in ['module', 'extension'] %}
        <dt>{{ trans('anomaly.module.addons::field.state.name') }}</dt>
        <dd>
            {% if addon.instance.installed %}
                <span class="tag tag-success">{{ trans('streams::addon.installed') }}</span>
            {% else %}
                <span class="tag tag-default">{{ trans('streams::addon.uninstalled') }}</span>
            {% endif %}
        </dd>
        <dt>{{ trans('anomaly.module.addons::field.status.name') }}</dt>
        <dd>
            {% if addon.instance.enabled %}
                <span class="tag tag-success">{{ trans('streams::addon.enabled') }}</span>
            {% else %}
                <span class="tag tag-default">{{ trans('streams::addon.disabled') }}</span>
            {% endif %}
        </dd>
    {% endif %}

    {% if addon.type.value == 'theme' %}
        <dt>{{ trans('anomaly.module.addons::field.state.name') }}</dt>
        <dd>
            {% if addon.instance.active %}
                <span class="tag tag-success">{{ trans('streams::addon.active') }}</span>
            {% else %}
                <span class="tag tag-success">{{ trans('streams::addon.inactive') }}</span>
            {% endif %}
        </dd>
    {% endif %}

</dl>
