{% if addon.require %}
    <h3 class="lead">
        {{ trans('anomaly.module.addons::label.requires') }}
    </h3>

    <ul class="list-unstyled">

        {% for package, require in addon.require %}

            {% set type = explode('-', package)|last %}

            {% if type in config('streams::addon.types') %}
                <li>
                    <a href="/admin/addons/{{ str_plural(type) }}?view=all&filter_search={{ package }}"
                       target="_blank">
                        {{ package }}
                    </a>
                    : {{ require }}
                </li>
            {% else %}
                <li>
                    {{ package }}: {{ require }}
                </li>
            {% endif %}
        {% endfor %}

    </ul>
{% endif %}
