<h3 class="lead">
    {{ trans('module::label.information') }}
</h3>

<dl>
    {% if json.version %}
        <dt>{{ trans('module::label.version') }}</dt>
        <dd>{{ json.version }}</dd>
    {% endif %}

    <dt>{{ trans('module::label.namespace') }}</dt>
    <dd><pre>{{ addon.namespace }}</pre></dd>

    <dt>{{ trans('module::label.path') }}</dt>
    <dd>{{ addon.appPath }}</dd>

    {% if addon.type in ['module', 'extension'] %}
        <dt>{{ trans('module::field.state.name') }}</dt>
        <dd>
            {% if addon.installed %}
                <span class="label label-success">{{ trans('streams::addon.installed') }}</span>
            {% else %}
                <span class="label label-default">{{ trans('streams::addon.uninstalled') }}</span>
            {% endif %}
        </dd>
        <dt>{{ trans('module::field.status.name') }}</dt>
        <dd>
            {% if addon.enabled %}
                <span class="label label-success">{{ trans('streams::addon.enabled') }}</span>
            {% else %}
                <span class="label label-default">{{ trans('streams::addon.disabled') }}</span>
            {% endif %}
        </dd>
    {% endif %}

    {% if addon.type == 'theme' %}
        <dt>{{ trans('module::field.state.name') }}</dt>
        <dd>
            {% if addon.active %}
                <span class="label label-success">{{ trans('streams::addon.active') }}</span>
            {% else %}
                <span class="label label-success">{{ trans('streams::addon.inactive') }}</span>
            {% endif %}
        </dd>
    {% endif %}

</dl>
