{% extends "streams::blank" %}

{% block content %}

    {{ asset_add('scripts.js', 'anomaly.module.addons::js/addons.js') }}

    <div class="container-fluid">

        {% include "anomaly.module.addons::admin/addon/partials/actions" %}

        <div class="card">

            <div class="card-header">
                <h4 class="card-title">
                    {{ addon.title }} {{ ucwords(str_humanize(addon.type)) }}
                    <small>
                        {{ addon.name }}
                    </small>
                </h4>
            </div>

            <div class="card-block">

                <p>{{ addon.description }}</p>

                <br>

                <div class="row">
                    <div class="col-lg-8">
                        {% include "anomaly.module.addons::admin/addon/partials/details" %}
                    </div>
                    <div class="col-lg-8">
                        {% include "anomaly.module.addons::admin/addon/partials/authors" %}
                        {% include "anomaly.module.addons::admin/addon/partials/support" %}
                    </div>
                    <div class="col-lg-8">
                        {% include "anomaly.module.addons::admin/addon/partials/dependents" %}
                        {% include "anomaly.module.addons::admin/addon/partials/requires" %}
                        {% include "anomaly.module.addons::admin/addon/partials/versions" %}
                    </div>
                </div>
            </div>

        </div>

        {% if addon.readme %}
            <div class="card">

                <div class="card-header">
                    <h4 class="card-title">
                        README
                    </h4>
                </div>

                <div class="card-block">
                    {{ addon.readme|markdown|raw }}
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
