{% extends "streams::blank" %}

{% block content %}

    {{ asset_add('scripts.js', 'anomaly.module.addons::js/glightbox.min.js', ['as:mcstudios/glightbox.js']) }}
    {{ asset_add('styles.css', 'anomaly.module.addons::css/glightbox.min.css', ['as:mcstudios/glightbox.css']) }}

    {{ asset_add('scripts.js', 'anomaly.module.addons::js/addon.js', ['min']) }}

    <style type="text/css">
        {{ asset_inline('anomaly.module.addons::css/addon.css', ['min'])|raw }}
    </style>

    <div class="container-fluid">

        {% include "anomaly.module.addons::admin/addon/partials/actions" %}

        <div class="card addon-card">

            <div class="banner-header {{ addon.hasAsset('banner') ?: 'default-banner' }}">

                {{ addon.banner.width('100%')|raw }}

                <h4 class="card-title">
                    {{ addon.icon|raw }}
                    {{ addon.displayName() }}
                    <small>
                        {{ addon.name }}
                    </small>
                </h4>
            </div>

            <div class="card-block">

                <p class="lead">{{ addon.description|str_purify|str_linkify|raw }}</p>

                {% include "anomaly.module.addons::admin/addon/partials/screenshots" %}

                <div class="row">
                    <div class="col-lg-8">
                        {% include "anomaly.module.addons::admin/addon/partials/details" %}
                    </div>
                    <div class="col-lg-8">
                        {% include "anomaly.module.addons::admin/addon/partials/authors" %}
                        {% include "anomaly.module.addons::admin/addon/partials/support" %}
                    </div>
                    <div class="col-lg-8">
                        {% include "anomaly.module.addons::admin/addon/partials/dependents" %}
                        {% include "anomaly.module.addons::admin/addon/partials/requires" %}
                        {% include "anomaly.module.addons::admin/addon/partials/suggests" %}
                        {% include "anomaly.module.addons::admin/addon/partials/versions" %}
                    </div>
                </div>
            </div>

        </div>

        {% if addon.readme.value %}
            <div class="card">
                <div class="card-block">
                    {{ addon.readme.value|markdown|raw }}
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}
