<div class="panel-body">

    {% if addon.type in ['module', 'extension'] %}
        {% if addon.installed %}
            <a
                    href="{{ url_to('admin/addons/' ~ request_segment(3) ~ '/uninstall/' ~ addon.namespace) }}"
                    class="btn btn-block btn-danger {{ addon.core ? 'disabled' }}">
                {{ trans('module::button.uninstall') }}
            </a>
        {% else %}
            <a
                    href="{{ url_to('admin/addons/' ~ request_segment(3) ~ '/install/' ~ addon.namespace) }}"
                    class="btn btn-block btn-success {{ addon.core ? 'disabled' }}">
                {{ trans('module::button.install') }}
            </a>
        {% endif %}

        {% if addon.enabled %}
            <a
                    href="{{ url_to('admin/addons/' ~ request_segment(3) ~ '/disable/' ~ addon.namespace) }}"
                    class="btn btn-block btn-warning {{ addon.core ? 'disabled' }}">
                {{ trans('module::button.disable') }}
            </a>
        {% else %}
            <a
                    href="{{ url_to('admin/addons/' ~ request_segment(3) ~ '/enable/' ~ addon.namespace) }}"
                    class="btn btn-block btn-success {{ (addon.core or not addon.installed) ? 'disabled' }}">
                {{ trans('module::button.enable') }}
            </a>
        {% endif %}
    {% endif %}

    <a
            href="{{ url_to('admin/addons/' ~ request_segment(3) ~ '/delete/' ~ addon.namespace) }}"
            class="btn btn-block btn-danger {{ addon.core and addon.slug != 'installer' ? 'disabled' }}">
        {{ trans('streams::button.delete') }}
    </a>

</div>
