<div class="panel-heading">
    <h3 class="panel-title">
        {{ trans('module::admin.information') }}
    </h3>
</div>

<div class="panel-body">

    <dl>
        {% if json.version %}
            <dt>{{ trans('module::admin.version') }}</dt>
            <dd>{{ json.version }}</dd>
        {% endif %}

        <dt>{{ trans('module::admin.path') }}</dt>
        <dd>{{ addon.appPath }}</dd>

        {% if addon.type in ['module', 'extension'] %}
            <dt>{{ trans('module::admin.state') }}</dt>
            <dd>
                {% if addon.installed %}
                    <span class="label label-success">{{ trans('module::admin.installed') }}</span>
                {% else %}
                    <span class="label label-default">{{ trans('module::admin.not_installed') }}</span>
                {% endif %}
            </dd>
            <dt>{{ trans('module::admin.status') }}</dt>
            <dd>
                {% if addon.enabled %}
                    <span class="label label-success">{{ trans('module::admin.enabled') }}</span>
                {% else %}
                    <span class="label label-default">{{ trans('module::admin.disabled') }}</span>
                {% endif %}
            </dd>
        {% endif %}

    </dl>

</div>
