<div class="panel-heading">
    <h3 class="panel-title">
        {{ trans('module::admin.support') }}
    </h3>
</div>

<div class="panel-body">

    <ul class="list-unstyled">

        {% if json.support.email %}
            <li>{{ html_mailto(json.support.email, 'Email') }}</li>
        {% endif %}

        {% if json.support.issues %}
            <li><a href="{{ json.support.issues }}" target="_blank">Issues</a></li>
        {% endif %}

        {% if json.support.forum %}
            <li><a href="{{ json.support.forum }}" target="_blank">Forum</a></li>
        {% endif %}

        {% if json.support.wiki %}
            <li><a href="{{ json.support.wiki }}" target="_blank">Documentation</a></li>
        {% endif %}

        {% if json.support.irc %}
            <li><a href="{{ json.support.irc }}" target="_blank">IRC</a></li>
        {% endif %}

        {% if json.support.source %}
            <li><a href="{{ json.support.source }}" target="_blank">Source Code</a></li>
        {% endif %}

    </ul>

</div>